.employees-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employees-container_add-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.employees-container_add-form input,
.employees-container_add-form button {
  width: 60%;
  margin: 10px auto 10px auto;
}

.employees-container_add-form input:valid {
  border-color: green;
}

.employees-container_add-form input:invalid:required {
  border-color: red;
}

.employees-container_employees {
  margin-top: 10px;
  width: 100%;
}

.employee {
  width: 100%;
  min-height: 30px;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee .btn {
  margin-right: 10px;
}

.employee-name {
  margin-left: 10px;
}

.btn {
  height: 20px;
  font-size: 15px;
  background-color: #66CCCC;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid black;
}