.navigation {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  background-color: #006666;
  justify-content: center;
  align-items: center;
}

.navigation nav {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navigation a:hover,
.navigation a.active {
  text-decoration: underline;
}
